body {
  
 display: grid;
 flex: 1;
 position: relative;
 justify-content: center;
 align-items: center;
 
z-index: 0;
  
 }
.header2 {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: space-between;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  height: 100px;
  margin-top: 0;
  z-index: 10;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(243, 243, 243);
  
}
.left-header {
  background-color: rgb(255, 255, 255);
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 70px;
}
.right-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px;
  height: 100px;
  min-width: 200px;
}
.call-button1 {
  background-color: rgb(0, 59, 0);
  color: rgb(224, 224, 3);
  border: none;
  border-radius: 2px;
  padding: 3px;
  font-size: 10px;
  font-family: Tahoma;
}
.hamburger-menu {
  width: 20px;
  padding-left: 12px;  
 }
 .header-menu-list {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: space-between;
  left: 0;
  right: 10px; 
  margin: 8px 0px 8px 0px;      
 }
 .home,
 .about,
 .service-providers,
 .certification,
 .media-gallery,
 .events,
 .faqs,
 .contact {
  text-decoration: none;
  color: rgb(104, 103, 103);
  font-family: sans-serif;
  font-size: 14px;
 }
 .home:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .about:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .service-providers:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .certification:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .media-gallery:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .events:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 .faqs:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  font-size: 14px;
 }
 